<div class="app-{{appId}}-theme" id="appRootClass">
  <!-- tool bar - start -->
  <mat-toolbar color="warn">
   <mat-toolbar-row>
    <div style="position:absolute"> 
     <span style="position:relative;left: 5%">Angular Theme</span>
     <span class="example-spacer"></span>
     <span style="position:relative;left: 160%">
       <a href="#" mat-button>
         <mat-icon>notifications</mat-icon>
         Notifications
       </a>
       <button mat-button [matMenuTriggerFor]="menu">
         <mat-icon>format_color_fill</mat-icon>Theme
       </button>
       <mat-menu #menu="matMenu">
         <button value='theme1' mat-menu-item (click)="switchTheme('theme1')">Theme 1</button>
         <button value='theme2' mat-menu-item (click)="switchTheme('theme2')">Theme 2</button>
       </mat-menu>
       <a href="#" mat-button>
         <mat-icon>account_box</mat-icon>
         My Account
       </a>
      </span>
    </div>
   </mat-toolbar-row>
 </mat-toolbar>
 <!-- tool bar - end -->
</div>
    <br/>
    <!-- Nested view  -->
    <div >
      <div style="text-align:center;">
        <h2>
         Welcome to {{ title }}!
        </h2>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>
        <h2 style="font-size: 14px">Here are some links to help you start: </h2>
        <ul style="font-size: 14px">
        <li>
         <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
         <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
        </li>
        <li>
         <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
        </ul>
    </div>